.nature{
  float: left;
  width: 500px;
  background-color: green;
  margin-left: 20px;
}
.weddings{
  float: left;
  width: 500px;
  background-color: hotpink;
  margin-left: 18px;
}
.sports{
  float: left;
  width: 500px;
  background-color: red;
  margin-left: 20px;
}
img{
  border: 2px solid black;
  width: 60%;
}